* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-image: linear-gradient(90deg, rgb(160, 199, 68), rgb(1, 1, 1));
}

.card {
	width: 400px;
	background-color: #ddd;
	border: #47c6a9 solid 2px;
	border-radius: 25px;
	overflow: hidden;
	&__img {
		width: 100%;
	}
	&__body {
		padding: 10px 20px;
	}
	&__text {
		margin: 20px 0;
	}
	&__btns {
		display: flex;
		justify-content: space-around;
	}

	&__btn {
		padding: 10px 20px;
		border-radius: 8px;
		border: solid 1px black;
		cursor: pointer;

		&--highlight {
			background-color: black;
		}
	}
}
