* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #333;
	font-family: 'Roboto', sans-serif;
	color: gray;
}

.form {
	height: 500px;
	width: 400px;
	border: gray 3px solid;
	border-radius: 10px;
	background-color: #fff;
	
	&__title {
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 100;
		margin-bottom: 40px;
	}
	&__body {
		padding: 30px 20px;
	}
	&__label {
		font-size: 20px;
	}
	&__input {
		width: 100%;
		height: 30px;
		border-radius: 10px;
		padding-left: 5px;
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 24px;
		overflow: hidden;
	}

	&__btns {
		display: flex;
		justify-content: space-around;
	}
	&__btn {
		width: 50px;
		height: 50px;
		margin: 10px;
		background-color: #000;
	}
}
