* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-image: linear-gradient(90deg, rgb(160, 199, 68), rgb(1, 1, 1));
}
