* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #333;
	font-family: 'Roboto', sans-serif;
	color: gray;
}

.card {
	height: 500px;
	width: 400px;
	border: gray 3px solid;
	border-radius: 10px;
	background-color: #fff;
	&__title {
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 100;
	}
	&__body {
		padding: 30px 20px;

		&__label {
			font-size: 24px;
            margin: 10px 0;
		}
	}
}
